<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-lg-6">
                <img src="./images/profpic.jpg" class="img-circle" alt="Cinque Terre">
              </div>
              <div class="col-lg-6">
                <h4 class="text-black-50 mb-4">About me</h4>
                <h2 class="text-white mb-4">John Celso AKA "FishBone", "JonFrost" Inocente</h2>
                <p class="text-white-50">
                  In real life, people call me "Jon", "John", "IGOY"
                </p>
                <p class="text-white-50">
                  I am a game developer as well as a gamer. Love playing games ever since super mario bros was born! :).
                  While as a gamer and developer, I also like to do sports activities, such as basketball and badminton.
                  Promoting work-life balance style, also like to do travelling and camping. Here is a link to my
                  <a href="https://drive.google.com/file/d/1UJhhhGjC7BjK76cZMaKUKkwQpiMI5aaH/view?usp=sharing"> resume.</a>
                </p>
              </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center about-mission-vision">
              <div class="col-lg-8">
                <h4 class="text-white mb-4">Mission</h4>
                <p class="text-white-50">
                  Fishbone Studios' mission is to create fun and challenging games for all users of any age at any location.
                  We want to develop games that people won’t stop talking about for a good reason and to provide 
                  our skills and creativity to teach the young generations about life’s meaningful choices and consequences through our games.
                </p>

                <h4 class="text-white mb-4">Vision</h4>
                <p class="text-white-50">
                  Fishbone Studios' vision is become one of the best providers of games that are engaging, rewarding, and fair in any genre.
                  We aim to be recognized as a studio with fun environment. 
                </p>
              </div>
            </div>
            <!-- <img class="img-fluid" src="./images/ipad.png" alt="..." /> -->
        </div>
    </section>
    </main>
    <footer class="footer bg-black small text-center text-white-50">
      <%- include('../partials/footer'); %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>